<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
       
    <script src="https://cdnjs.cloudflare.com/ajax/libs/angular.js/1.8.3/angular.min.js"></script>

    <title>Admin console</title>
    <script>

       var mymodule= angular.module("kuchModule",[]);
      
      mymodule.controller("kuchController",function($scope,$http)
      {

        $scope.jsonArray=[];

       $scope.doFetchAll=function()
       {
            var url="/fetch-all-data";

            
            $http.get(url).then(allGoodFx,someBadFx);
            function allGoodFx(response)
            {
                //resp in JSON array
                //alert(JSON.stringify(response.data));
                $scope.jsonArray=response.data;
            }

            function someBadFx(response)
            {
                alert(JSON.stringify(response.data));
            }
       }
       
       $scope.doblock=function(emailid)
       {
        
            var url="/block-one?emailid="+emailid;
            
            $http.get(url).then(allGoodFx,someBadFx);
            function allGoodFx(response)
            {
               alert(response.data);//resp in string
                $scope.doFetchAll();
            }

            function someBadFx(response)
            {
                alert(JSON.stringify(response.data));
            }
       }
       $scope.dounblock=function(emailid)
       {
        
            var url="/unblock-one?emailid="+emailid;
            
            $http.get(url).then(allGoodFx,someBadFx);
            function allGoodFx(response)
            {
               alert(response.data);//resp in string
                $scope.doFetchAll();
            }

            function someBadFx(response)
            {
                alert(JSON.stringify(response.data));
            }
       }

       })

    </script>
</head>
<body ng-app="kuchModule" ng-controller="kuchController" ng-init="doFetchAll();">

    <center>
        <h1>Users Admin Console</h1>
    
    
   <!--<input type="button" value="Fetch All Records" ng-click="doFetchAll();">-->
    <h2>All Records</h2>
    <table width="800" border="1" rules="all">
        <tr>
            <th>Sr.No</th>
            <th>Email Id</th>
            <th>Password</th>
            <th>User Type</th>
           <th>Status</th>
            <th>
                operation
            </th>
            <th>
                operation
            </th>
        </tr>
        <tr ng-repeat="obj in jsonArray">
            <td>{{$index+1}}</td>
            <td>{{obj.emailid}}</td>
            <td>{{obj.pwd}}</td>
            <td>{{obj.usertype}}</td>
            <td>{{obj.status}}</td>
            
            <th>
                <input type="button" ng-click="doblock(obj.emailid);" value="block" style="background-color: red;color: white;">
            </th>
             <th>
                <input type="button" ng-click="dounblock(obj.emailid);" value="unblock" style="background-color: green;color: white;">
            </th>

        </tr>
    </table>

    </table>
    

    </center>
</body>
</html>